<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>测试工具合集</title>
  <link rel="icon" href="favicon.ico" type="/static/image/ico">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/static/css/style.min.css" rel="stylesheet">
</head>
<body>
<div class="lyear-layout-weby">
    <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">
        <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="homepage.html"><img src="/static/images/logo-sidebar1.png" title="LightYear" alt="LightYear" /></a>
      </div>

      <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item active"> <a href="homepage.html"><i class="mdi mdi-home"></i>测试工具合集</a> </li>
            <li class="nav-item nav-item-has-subnav active open">
              <a href="javascript:void(0)"><i class="mdi mdi-menu"></i>配牌工具</a>
              <ul class="nav nav-subnav">
                <li> <a href="XZmaj_extends.html">血战到底</a> </li>
                <li class="active"> <a href="XLmaj_extends.html">血流成河</a> </li>
                <li> <a href="HLdoudz_extends.html">欢乐斗地主</a> </li>
                <li> <a href="FKdoudz_extends.html">疯狂斗地主</a> </li>
              </ul>
            </li>
            <li class="nav-item"> <a href="operations_ser.html"><i class="mdi mdi-file-outline"></i>服务器部署</a> </li>
              <li class="nav-item"> <a href="drop_test.html"><i class="mdi mdi-file-outline"></i>掉落测试</a> </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-menu"></i>测试覆盖度</a>
              <ul class="nav nav-subnav">
                <li> <a href="XZmaj_TestCoverage.html">血战到底</a> </li>
                <li> <a href="HLdoudz_TestCoverage.html">斗地主</a> </li>
              </ul>
            </li>
            <li class="nav-item"> <a href="checkconfig.html"><i class="mdi mdi-file-outline"></i>配置表检查</a> </li>
            <li class="nav-item"> <a href="homepage.html"><i class="mdi mdi-file-outline"></i>协议测试</a> </li>
            <li class="nav-item"> <a href="homepage.html"><i class="mdi mdi-file-outline"></i>接口自动化</a> </li>
          </ul>
        </nav>
      </div>
    </aside>
    <!--End 左侧导航-->

    <!--头部信息-->
    <header class="lyear-layout-header">

      <nav class="navbar navbar-default">
        <div class="topbar">

          <div class="topbar-left">
            <div class="lyear-aside-toggler">
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> 配牌工具-血流成河 </span>
          </div>

          <ul class="topbar-right">
            <!--切换主题配色-->
		    <li class="dropdown dropdown-skin">
			  <span data-toggle="dropdown" class="icon-palette"><i class="mdi mdi-palette"></i></span>
			  <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                <li class="drop-title"><p>主题</p></li>
                <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                    <label for="site_theme_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                    <label for="site_theme_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="site_theme" value="translucent" id="site_theme_3">
                    <label for="site_theme_3"></label>
                  </span>
                </li>
			    <li class="drop-title"><p>LOGO</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>
                    <label for="logo_bg_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
                    <label for="logo_bg_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
                    <label for="logo_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
                    <label for="logo_bg_4"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
                    <label for="logo_bg_5"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
                    <label for="logo_bg_6"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
                    <label for="logo_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
                    <label for="logo_bg_8"></label>
                  </span>
				</li>
				<li class="drop-title"><p>头部</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                    <label for="header_bg_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                    <label for="header_bg_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                    <label for="header_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                    <label for="header_bg_4"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                    <label for="header_bg_5"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                    <label for="header_bg_6"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                    <label for="header_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                    <label for="header_bg_8"></label>
                  </span>
				</li>
				<li class="drop-title"><p>侧边栏</p></li>
				<li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1" checked>
                    <label for="sidebar_bg_1"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                    <label for="sidebar_bg_2"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                    <label for="sidebar_bg_3"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                    <label for="sidebar_bg_4"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                    <label for="sidebar_bg_5"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                    <label for="sidebar_bg_6"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                    <label for="sidebar_bg_7"></label>
                  </span>
                  <span>
                    <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
                    <label for="sidebar_bg_8"></label>
                  </span>
				</li>
			  </ul>
			</li>
            <!--切换主题配色-->
          </ul>
        </div>
      </nav>
    </header>
    <!--End 头部信息-->

    <!--页面主要内容-->
    <main class="lyear-layout-content">
        <b>PS:换三张输入0代表关闭换三张，输入3，代表开启换三张，开启或者关闭影响整个服务器，目前换三张和改金币只支持32测试服,下一张选中后支持点击麻将按钮</b>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header"><h4>配牌区域</h4></div>
                        <div class="card-body">
                            <form method="post">
                                <div style="padding-top: 10px; padding-left: 60px;">
                                    <h1 style="margin-left: 150px">配牌区域</h1>
                                    <input id="CardName" type="text" onclick="ClickInput1()" name="Card_Name" style="width: 450px; height: 60px;"><br>
                                    <script type="text/javascript">
                                    var card_dict = {'11': '一万', '12': '二万', '13': '三万', '14': '四万', '15': '五万', '16': '六万', '17': '七万', '18': '八万',
                                    '19': '九万', '21': '一条', '22': '二条', '23': '三条', '24': '四条', '25': '五条', '26': '六条', '27': '七条',
                                    '28': '八条', '29': '九条', '31': '一筒', '32': '二筒', '33': '三筒', '34': '四筒', '35': '五筒', '36': '六筒',
                                    '37': '七筒', '38': '八筒', '39': '九筒'};
                                    var ClickText = document.getElementById("CardName");
                                    let button_num = 1;
                                    let player_num = 1;
                                    for (var i in card_dict) {
                                    var button;
                                    button = "<input type='button' name='name' onclick='CardList(" + i + ")' style='width: 50px; max-height: 200px' value=" + card_dict[i] +">";
                                    if (button_num % 9 == 0){
                                        button = button + "<br>";
                                    }
                                    document.write(button);
                                        button_num += 1;
                                    }
                                    function CardList(i) {
                                        ClickText.value += card_dict[i] + ',';
                                    }
                                    function ClickInput1() {
                                        ClickText = document.getElementById("CardName");
                                    }
                                    function ClickInput2() {
                                        ClickText = document.getElementById("NextCardData");
                                    }
                                    function ClickInput3() {
                                        ClickText = document.getElementById("LastCardData");
                                    }
                                    </script>
                                </div>
                                <label for="UserIdData" style="margin-left: 60px; margin-top: 20px">游戏ID：</label>
                                <input id="UserIdData" type="text" name="User_Id_Data" value="{{ User_id }}" style="width: 200px">
                                <input id="SendCardData" type="submit" name="Submit_Button" onclick="" value="确认发送" style="width: 80px; height: 30px; margin-left: 105px;"><br>
                                <label for="ServerUrlData" style="margin-left: 60px; margin-top: 20px">服务器：</label>
                                <input id="ServerUrlData" type="text" name="Server_Url_Data" value="http://10.0.0.32:8080/game/configCards" style="width: 200px">
                                <input id="CleanCardDate" type="button" name="Clean_Card_Date" onclick="document.getElementById('CardName').value=''" value="重置牌型" style="width: 80px; height: 30px; margin-left: 105px;"><br>
                                <label for="GoldNumberData" style="margin-left: 60px; margin-top: 20px">金币数：</label>
                                <input id="GoldNumberData" type="text" name="Gold_Number_Data" value="0"style="width: 200px">
                                <input id="UpdateGold" type="submit" name="Submit_Button" value="修改金币" style="width: 80px; height: 30px; margin-left: 105px;"><br>
                                <label for="NextCardData" style="margin-left: 60px; margin-top: 20px">下一张：</label>
                                <input id="NextCardData" type="text" name="Next_Card_Data" onclick="ClickInput2()" value="" style="width: 200px">
                                <input id="NextCard" type="submit" name="Submit_Button" value="拿牌" style="width: 80px; height: 30px; margin-left: 105px;"><br>
                                <label for="LastCardData" style="margin-left: 60px; margin-top: 20px">牌尾张：</label>
                                <input id="LastCardData" type="text" name="Last_Card_Data" onclick="ClickInput3()" value="" style="width: 200px">
                                <input id="LastCard" type="submit" name="Submit_Button" value="配置" style="width: 80px; height: 30px; margin-left: 105px;">
                                <input id="LastCard" type="submit" name="Submit_Button" value="重置" style="width: 80px; height: 30px;"><br>
                                <label for="ChangeThreeCardData" style="margin-left: 60px; margin-top: 20px">换三张：</label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="Change_Three_Card_Data" value="0" checked="checked"><span>关闭</span>
                                </label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="Change_Three_Card_Data" value="3"><span>打开</span>
                                </label>
                                <input id="ChangeThreeCard" type="submit" name="Submit_Button"  value="换三张" style="width: 80px; height: 30px; margin-left: 175px;"><br>
                                <label style="margin-left: 60px; margin-top: 20px">机器人：</label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="robot" value="close" checked="checked"><span>关闭</span>
                                </label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="robot" value="open"><span>打开</span>
                                </label>
                                <input id="reload" type="submit" name="Submit_Button" value="确定修改" style="width: 80px; height: 30px; margin-left: 175px;"><br>
                                <label for="GoldNumberData" style="margin-left: 60px; margin-top: 20px">场次选择：</label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="game_site" value="初级场" checked="checked"><span>初级场</span>
                                </label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="game_site" value="中级场"><span>中级场</span>
                                </label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="game_site" value="高级场"><span>高级场</span>
                                </label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input type="radio" name="game_site" value="大师场"><span>大师场</span>
                                </label><br>
                                <label style="margin-left: 60px; margin-top: 20px">机器人状态：{{ fieldresult }}</label>
                            </form>
                            <label for="Result" style="margin-left: 60px; margin-top: 40px; color: #90111A; font-size: 25px" >返回结果：</label><strong style="color: #90111A; font-size: 25px">{{ Tips }}</strong><br>
                            <label for="Result" style="margin-left: 60px; margin-top: 40px; color: #90111A; font-size: 25px" >IP限制状态：</label><strong style="color: #90111A; font-size: 25px">{{ IPresult }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header"><h4>已配牌型</h4></div>
                        <div class="card-body">
                            <textarea id="player1" rows="24" cols="80" wrap="hard">{{ Player }}</textarea><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--End 页面主要内容-->
</div>
</div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/static/js/main.min.js"></script>

</body>
</html>